<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1EsFytN4G5uGBfG1w4BqX84J-7i-9_wU</string>
	<key>GCM_SENDER_ID</key>
	<string>230628543244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBasicoUni</string>
	<key>PROJECT_ID</key>
	<string>curso-flutter-basico-d819b</string>
	<key>STORAGE_BUCKET</key>
	<string>curso-flutter-basico-d819b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230628543244:ios:dfa8b9b446f32790c81729</string>
</dict>
</plist>